apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ hostvars['k8s-cp-01']['ansible_host'] }}
  bindPort: 6443
nodeRegistration:
  name: k8s-cp-01
  criSocket: unix:///var/run/containerd/containerd.sock
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version }}
controlPlaneEndpoint: "{{ control_plane_endpoint }}"
apiServer:
  certSANs:
    - {{ hostvars['k8s-cp-01']['ansible_host'] }}
    - {{ hostvars['k8s-cp-02']['ansible_host'] }}
    - {{ hostvars['k8s-cp-03']['ansible_host'] }}
    - {{ k8s_api_vip }}  # Include VIP in certificates
    - localhost
    - 127.0.0.1
networking:
  podSubnet: {{ pod_network_subnet ~ pod_subnet_mask }}
  serviceSubnet: {{ service_subnet ~ service_subnet_mask }} 
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
